<?php
    $helper = Mage::helper('et_contactmap');
    if($helper->getEnabled()) { ?>
<div class="container">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3"></script>
    <script type="text/javascript">
        //<![CDATA[
        jQuery.noConflict();
        jQuery(document).ready(function() {
            var myMarkers = {
                "markers": [
                    {
                        "latitude": "<?php echo $helper->getLongitude(); ?>",
                        "longitude": "<?php echo $helper->getLatitude(); ?>",
                        "icon": "<?php echo $this->getSkinUrl('css/map.png'); ?>"
                    }
                ]
            };

            jQuery( ".map" ).mapmarker({
                zoom: 16,
                scrollwheel: true,
                center: "<?php echo $helper->getAddress(); ?>",
                markers: myMarkers
            });
        });
        //]]>
    </script>
    <div class="map-section"><div class="map"></div></div>
</div>
<?php } ?>